{%  extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="form"><!--form-->
<div class="container">
    <div class="row">
        <div class="col-sm-7 col-sm-offset-4">
            <img  src="/media/product/home.png" alt="">
            <div style="border: 1px solid black; padding-bottom: 10px; border-radius: 10px;">
                
                <h1>Đặt lại mật khẩu hoàn tất</h1>
                <p>Mật khẩu mới của bạn đã được thiết lập. Bạn có thể đăng nhập ngay bây giờ trên <a href=" {% url 'user_login' %}">Đăng nhập</a>.</p>
            </div>
        </div>
    </div>
</div>
</section><!--/form-->
{% endblock content%}


