{%  extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="form"><!--form-->
<div class="container">
    <div class="row">
        <div class="col-sm-7 col-sm-offset-4">
            <img  src="/media/product/home.png" alt="">
            <div style="border: 1px solid black; padding-bottom: 10px; border-radius: 10px;">
                <!-- templates/registration/password_reset_form.html -->
            
                <h1>Quên mật khẩu</h1>
                <p>Nhập email vào ô dưới.</p>

                <form method="POST">
                    {% csrf_token %}
                    <!-- {{ form.as_p }} -->
                    <!-- <input type="submit" value="Gửi thông tin!"> -->

                    <div class="form-group">
                        <label for="{{ form.email.id_for_label }}">Email:</label>
                        {{ form.email }}
                        {% if form.email.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.email.errors|join:", " }}
                        </div>
                        {% endif %}
                        <input type="submit" value="Gửi thông tin!">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</section><!--/form-->
{% endblock content%}


